/*-- Use For Custom Styling --*/
@media (max-width: 370px) {
    .iframe-responsive{
        width: 100%;
        height: 30%;
    }
}
@media (min-width: 371px) and (max-width: 576px) {
    .iframe-responsive{
        width: 80%;
        height: 35%;
    }
}
@media (min-width: 577px) and (max-width: 1080px) {
    .iframe-responsive{
        width: 70%;
        height: 40%;
    }
}
@media (min-width: 1081px) and (max-width: 1600px) {
    .iframe-responsive{
        width: 60%;
        height: 45%;
    }
}
@media (min-width:1601px)and (max-width:1920px){
    .iframe-responsive{
        width: 50%;
        height: 45%;
    }
}