/*-- Use For Custom Styling --*/
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.50;
}
.hero1::before {
    background-image: url(/public/images/1_3.jpeg);
}
.hero2::before {
    background-image: url(/public/images/2_1.jpeg);
}
.hero3::before {
    background-image: url(/public/images/3_1.jpeg);
}
.hero4::before {
    background-image: url(/public/images/4_2.jpeg);
}
.hero5::before {
    background-image: url(/public/images/5_1.jpeg);
}
.hero6::before {
    background-image: url(/public/images/6_1.jpeg);
}
.hero7::before {
    background-image: url(/public/images/7_0.png);
}
.hero8::before {
    background-image: url(/public/images/8_1.jpeg);
}


@media (max-width: 370px) {
    .iframe-responsive{
        width: 100%;
        height: 30%;
    }
}
@media (min-width: 371px) and (max-width: 576px) {
    .iframe-responsive{
        width: 80%;
        height: 35%;
    }
}
@media (min-width: 577px) and (max-width: 1080px) {
    .iframe-responsive{
        width: 70%;
        height: 40%;
    }
}
@media (min-width: 1081px) and (max-width: 1600px) {
    .iframe-responsive{
        width: 60%;
        height: 45%;
    }
}
@media (min-width:1601px)and (max-width:1920px){
    .iframe-responsive{
        width: 50%;
        height: 45%;
    }
}