
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Hind|Pacifico');

body {
    font-family:'Hind', sans-serif;
    font-weight:400;
}
.alt-font {
    font-family:'Pacifico', cursive;
}

.main-font {
    font-family:'Hind', sans-serif;
}
.nav>li{
    font-family:'Hind', sans-serif !important;
}